<div *ngIf="previewData">

    <div>
        <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
            <div fxLayout="column" *ngFor="let type of types"  fxFlex.lt-md="50%" (click)="setType(type)">
                <div class="pad" [class.w-inactive-item]="activeType !== type.type"
                [class.w-active-item]="activeType === type.type">
                    <div>
                        {{ type.title }}
                    </div>
                    <div class="push-top-sm w-text-center" libTextCaption>
                        {{ type.getItems(previewData).length}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="push-top-lg">

        <div fxLayout="row wrap" fxLayoutGap="16px grid" class="push-top">
            <div fxLayout="column" fxFlex="calc(50% - 16px)" fxFlex.lt-lg="100%">
                <div libCard>
                    <cdk-virtual-scroll-viewport *ngIf="activeItems" itemSize="50" class="w-import-viewport">
                        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" [class.push-top]="!first"
                        *cdkVirtualFor="let item of activeItems; let first = first; let i = index">
                        <div fxLayout="column" fxFlex="initial">
                            <span libText3>#{{ i + 1 }} </span>
                        </div>
                        <div fxLayout="column" fxFlex="initial">
                            <span class="w-preview-link" (click)="previewItem(item, i)">Preview</span>
                        </div>
                        <div fxLayout="column" fxFlex>
                            {{ item.title }}
                        </div>
                    </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>

            <div fxLayout="column" fxFlex="calc(50% - 16px)" fxFlex.lt-lg="100%">
                <div libCard>
                    <div *ngIf="activePreviewedItem">
                        {{ activePreviewedItem.index + 1 }} | {{ activePreviewedItem.title }}
                    </div>

                    <div class="push-top">
                        <div *ngIf="!activePreviewedItem">
                            No item is selected
                        </div>
                        <div *ngIf="activePreviewedItem">
                            <ngx-json-viewer [expanded]="false" [json]="activePreviewedItem.data"></ngx-json-viewer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>