.w-inactive-item {
    background-color: #e0e0e0;
    color: black;
    cursor: pointer;
}

.w-active-item {
    background-color: #008ae1;
    color: #ffffff;
    cursor: pointer;
}

.w-preview-link {
    color: #008ae1;
    cursor: pointer;
    font-weight: 600;
}