<div *ngIf="importData">

    <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
        <div *ngIf="showType('contentTypes')" fxLayout="column" class="pad" [class.w-inactive-item]="activeType !== 'contentTypes'"
            [class.w-active-item]="activeType === 'contentTypes'" fxFlex.lt-md="50%" (click)="setType('contentTypes')">
            Content types
        </div>
        <div *ngIf="showType('taxonomies')" fxLayout="column" class="pad" [class.w-inactive-item]="activeType !== 'taxonomies'"
            [class.w-active-item]="activeType === 'taxonomies'" fxFlex.lt-md="50%" (click)="setType('taxonomies')">
            Taxonomies
        </div>
        <div *ngIf="showType('assets')" fxLayout="column" class="pad" [class.w-inactive-item]="activeType !== 'assets'"
            [class.w-active-item]="activeType === 'assets'" fxFlex.lt-md="50%" (click)="setType('assets')">
            Assets
        </div>
        <div *ngIf="showType('contentItems')" fxLayout="column" class="pad" [class.w-inactive-item]="activeType !== 'contentItems'"
            [class.w-active-item]="activeType === 'contentItems'" fxFlex.lt-md="50%" (click)="setType('contentItems')">
            Content items
        </div>
        <div *ngIf="showType('languageVariants')" fxLayout="column" class="pad" [class.w-inactive-item]="activeType !== 'languageVariants'"
            [class.w-active-item]="activeType === 'languageVariants'" fxFlex.lt-md="50%"
            (click)="setType('languageVariants')">
            Language variants
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px" class="push-top">
        <div fxLayout="column" fxFlex="calc(50% - 16px)" fxFlex.lt-lg="100%">
            <mat-card>
                <cdk-virtual-scroll-viewport *ngIf="activeItems" itemSize="50" class="w-import-viewport">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *cdkVirtualFor="let item of activeItems; let i = index">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxLayout="column" fxFlex="initial">
                                    <strong>#{{ i + 1 }} </strong>
                                </div>
                                <div fxLayout="column" fxFlex="initial">
                                    <span class="w-preview-link" (click)="previewItem(item, i)">Preview</span>
                                </div>
                                <div fxLayout="column" fxFlex="initial">
                                    |
                                </div>
                                <div fxLayout="column" fxFlex>
                                    {{ item.title }}
                                </div>
                            </div>

                        </mat-list-item>
                    </mat-list>
                </cdk-virtual-scroll-viewport>
            </mat-card>
        </div>

        <div fxLayout="column" fxFlex="calc(50% - 16px)" fxFlex.lt-lg="100%">
            <mat-card>
                <div libTitle2>
                    Item preview
                </div>
                <div class="push-top-sm" *ngIf="activePreviewedItem">
                    {{ activePreviewedItem.index + 1 }} | {{ activePreviewedItem.title }}
                </div>

                <div class="push-top">
                    <div *ngIf="!activePreviewedItem">
                        No item is selected
                    </div>
                    <div *ngIf="activePreviewedItem">
                        <ngx-json-viewer [json]="activePreviewedItem.data"></ngx-json-viewer>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>