@mixin button($theme) {
    .w-button-large {
        a {
            text-decoration: none;
            display: block;
            color: inherit;

            &:hover {
                color: inherit;
            }
        }

        min-height: 40px;
        line-height: 40px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;

        &.disabled {
            cursor: not-allowed;
        }

        &.primary {
            color: map-get($theme, primaryColorContrast);
            background: map-get($theme, primaryColor);
            background: linear-gradient(90deg, map-get($theme, primaryColor) 0%, map-get($theme, primaryColorGradient) 100%);

            &:hover {
                background: map-get($theme, primaryColorGradient);
                background: linear-gradient(90deg, map-get($theme, primaryColorGradient) 0%, map-get($theme, primaryColor) 100%);
            }
        }

        &.accent {
            color: map-get($theme, accentColorContrast);
            background: map-get($theme, accentColor);
            background: linear-gradient(90deg, map-get($theme, accentColor) 0%, map-get($theme, accentColorGradient) 100%);

            &:hover {
                background: map-get($theme, accentColorGradient);
                background: linear-gradient(90deg, map-get($theme, accentColorGradient) 0%, map-get($theme, accentColor) 100%);
            }
        }

        &.disabled {
            color: map-get($theme, disabledColorContrast);
            background: map-get($theme, disabledColor);
            background: linear-gradient(90deg, map-get($theme, disabledColor) 0%, map-get($theme, disabledColorGradient) 100%);

            &:hover {
                background: map-get($theme, disabledColorGradient);
                background: linear-gradient(90deg, map-get($theme, disabledColorGradient) 0%, map-get($theme, disabledColor) 100%);
            }
        }

        &.success {
            color: white;
            background: rgb(98, 170, 15);

            &:hover {
               background: darken(rgb(98, 170, 15), 10);
            }
        }

        &.error {
            color: white;
            background:  rgb(223, 46, 33);

            &:hover {
               background: darken( rgb(223, 46, 33), 10);
            }
        }
    }
}