@mixin preview-data($theme) {
.w-inactive-item {
    background-color: #e0e0e0;
    color: black;
    cursor: pointer;
}

.w-active-item {
    background-color: map-get($theme, primaryColor);
    color: map-get($theme, primaryColorContrast);
    cursor: pointer;
}

.w-preview-link {
    color: map-get($theme, primaryColor);
    cursor: pointer;
    font-weight: 600;
}
}