<div libCard fxLayout="row">
    <div fxLayout="column" fxFlex>
        <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="Search" [formControl]="searchControl" />
        </mat-form-field>
    </div>
</div>

<div class="push-top">
    <div fxLayout="row wrap" fxLayoutGap="24px grid">
        <div
            fxLayout="column"
            [fxFlex]="100 / 4"
            [fxFlex.lt-lg]="100 / 3"
            fxFlex.lt-md="100%"
            *ngFor="let template of filteredTemplates"
        >
            <div libCard [addPad]="false" fxFlexFill fxLayout="row wrap">
                <div fxLayout="column" fxFlex="100%">
                    <div class="pad-md" libTitle4 style="margin: 0">
                        {{ template.name }}
                    </div>
                    <mat-divider></mat-divider>
                    <img style="width: 100%" [src]="template.imageUrl" [alt]="'Image for ' + template.name" />
                    <mat-divider></mat-divider>
                    <div class="pad" fxLayout="row" fxLayoutAlign="end end">
                        <div fxLayout="column" fxFlex>
                            <div libTextCaption fxLayout="row" fxLayoutGap="8px">
                                <div fxLayout="column" fxFlex>
                                    <span
                                        >By <strong>{{ template.author.name }}</strong></span
                                    >
                                </div>
                                <div fxLayout="column" fxFlex="initial">
                                    {{ template.technology }}
                                </div>
                                <div fxLayout="column" fxFlex="initial" fxHide>
                                    {{ formatDateVerbose(template.lastUpdate) }}
                                </div>
                            </div>
                            <div class="push-top-sm">
                                {{ template.description }}
                            </div>

                            <mat-divider class="push-top push-bottom"></mat-divider>

                            <div>
                                <a mat-button target="_blank" color="primary" [href]="template.repoUrl"
                                    >App source & instructions</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="100%" class="pad" fxLayoutAlign="end">
                    <div>
                        <div fxLayout="row wrap" fxLayoutGap="16px grid" class="push-top">
                            <div fxLayout="column" fxFlex="50%" fxFlex.lt-lg="100%">
                                <a
                                    (click)="handleDownloadClick(template)"
                                    [href]="template.exportPackageUrl"
                                    target="_blank"
                                    class="w-no-underline"
                                >
                                    <lib-button matIcon="get_app" color="accent"> Download </lib-button>
                                </a>
                            </div>
                            <div fxLayout="column" fxFlex="50%" fxFlex.lt-lg="100%">
                                <a (click)="handleImportClick(template)" class="w-no-underline">
                                    <button mat-button color="accent"> Import </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
