<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<h1>
    Export data
</h1>

<p class="push-top push-bottom">
    This function enables you to create <em>json</em> export package of data from given project
</p>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<ng-container *ngIf="step === 'initial'">
    <div [formGroup]="formGroup">
        <mat-card class="push-top">
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="projectId" required>
                </mat-form-field>

                <mat-form-field class="push-top w-full-width">
                    <input autocomplete="off" matInput
                        placeholder="Languages - separated by semicolon such as 'en-US; es-ES'. Leave empty for default language."
                        formControlName="languages">
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="push-top">
            <button *ngIf="canSubmit" (click)="handleExport()" mat-raised-button color="warn">Export data</button>
            <button disabled *ngIf="!canSubmit" (click)="handleExport()" mat-raised-button>Export data</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step === 'completed'">
    <div>
        <lib-message [type]="'success'" [text]="'Data was exported successfully.'"></lib-message>

        <div class="push-top" *ngIf="showDownloadButton">
            <button mat-raised-button color="accent" (click)="handleDownloadFile()">Download zip</button>
        </div>

        <div libTitle1 class="push-top">
            Preview of exported data
        </div>

        <div class="push-top">
            <lib-import-data-preview [previewData]="importPreviewData"></lib-import-data-preview>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step === 'exporting'">
    <mat-card>
        <lib-processed-items></lib-processed-items>
    </mat-card>
</ng-container>