<h1>
    Cleanup project
</h1>

<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<ng-container *ngIf="step === 'initial'">
    <p>This action will delete all data in your project. Proceed with caution.</p>

    <div [formGroup]="formGroup">

        <div libTitle1>
            Project
        </div>

        <div libCard>
            <mat-form-field class="w-full-width">
                <input autocomplete="off" matInput placeholder="Project Id" formControlName="projectId" required>
            </mat-form-field>

            <mat-form-field class="push-top w-full-width">
                <input autocomplete="off" matInput placeholder="CM API Key" formControlName="cmApiKey" required>
            </mat-form-field>
        </div>

        <div class="push-top" *ngIf="!isLoading">
            <button *ngIf="canSubmit" (click)="prepareCleanup()" mat-raised-button color="warn">Prepare cleanup
                data</button>
            <button disabled *ngIf="!canSubmit" (click)="prepareCleanup()" mat-raised-button>Prepare cleanup
                data</button>
        </div>
    </div>


</ng-container>

<ng-container *ngIf="step === 'preview'">

    <ng-container *ngIf="!projectContainsSomeData && cleanupData">
        <div class="push-top">
            <lib-message [type]="'info'" [text]="'Given project does not contain any data'"></lib-message>
        </div>
    </ng-container>

    <ng-container *ngIf="projectContainsSomeData">

        <div class="push-top" *ngIf="!isLoading">
            <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="openConfirmation()">I know what I'm
                doing -
                cleanup project</button>
            <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>I know what I'm doing - cleanup
                project</button>
        </div>

        <div libTitle1 class="push-top">
            Following will be deleted from your project
        </div>

        <div class="push-top">
            <lib-import-data-preview [showTypes]="'all'" [previewData]="previewData">
            </lib-import-data-preview>
        </div>
    </ng-container>


</ng-container>

<ng-container *ngIf="step === 'cleaning'">
    <div libCard>
        <lib-processed-items></lib-processed-items>
    </div>
</ng-container>

<ng-container *ngIf="step === 'completed'">
    <div class="push-top push-bottom">
        <lib-message [type]="'success'" [text]="'Project data successfully deleted'"></lib-message>
    </div>
</ng-container>