<h1>
    Cleanup project
</h1>

<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<ng-container *ngIf="cleanupCompleted">

    <div class="push-top push-bottom">
        <lib-message [type]="'success'" [text]="'Project data successfully deleted'"></lib-message>
    </div>
</ng-container>

<ng-container *ngIf="isLoading || cleanupCompleted">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card>
        <lib-processed-items *ngIf="isLoading || cleanupCompleted"></lib-processed-items>
    </mat-card>
</ng-container>


<ng-container *ngIf="cleanupItems && !isLoading && !cleanupCompleted">

    <p class="push-top" *ngIf="cleanupItems.length > 0">
        Following items will be deleted from your project:
    </p>

    <mat-card class="push-top">
        <div *ngIf="cleanupItems.length === 0">There are no items that can be deleted in your project.</div>
        <cdk-virtual-scroll-viewport *ngIf="cleanupItems.length > 0" itemSize="50" class="w-import-viewport">
            <mat-list role="list">
                <mat-list-item role="listitem" *cdkVirtualFor="let cleanupItem of cleanupItems">
                    <p>
                        <strong>{{ cleanupItem.type }}</strong>: {{ cleanupItem.name }}
                    </p>
                </mat-list-item>
            </mat-list>
        </cdk-virtual-scroll-viewport>
    </mat-card>

    <div class="push-top" *ngIf="cleanupItems.length > 0">
        <button *ngIf="canSubmit" (click)="openConfirmation()" mat-raised-button color="warn">I know what I'm doing
            -
            Delete data</button>
        <button disabled *ngIf="!canSubmit" (click)="openConfirmation()" mat-raised-button>I know what I'm
            doing - Delete data</button>
    </div>
</ng-container>

<ng-container *ngIf="(!isLoading && !cleanupCompleted) && !cleanupItems">

    <p>This action will delete all data in your project. Proceed with caution.</p>

    <form [formGroup]="formGroup">

        <div libTitle1>
            Project
        </div>

        <mat-card>
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="projectId" required>
                </mat-form-field>

                <mat-form-field class="push-top w-full-width">
                    <input autocomplete="off" matInput placeholder="CM API Key" formControlName="cmApiKey" required>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="push-top" *ngIf="!isLoading">
            <button *ngIf="canSubmit" (click)="prepareCleanup()" mat-raised-button color="warn">Prepare cleanup
                data</button>
            <button disabled *ngIf="!canSubmit" (click)="prepareCleanup()" mat-raised-button>Prepare cleanup
                data</button>
        </div>
    </form>
</ng-container>