<ng-container *ngIf="type === 'error'">
    <div class="w-message error">
        <div class="title">
            Error
        </div>
        <div class="text" *ngIf="text">
            {{ text }}
        </div>
        <div class="text" *ngIf="html" [innerHtml]="html"></div>
    </div>
</ng-container>

<ng-container *ngIf="type === 'success'">
    <div class="w-message success">
        <div class="title">
            Success
        </div>
        <div class="text" *ngIf="text">
            {{ text }}
        </div>
        <div class="text" *ngIf="html" [innerHtml]="html"></div>
    </div>
</ng-container>

<ng-container *ngIf="type === 'info'">
    <div class="w-message info">
        <div class="title">
            Info
        </div>
        <div class="text" *ngIf="text">
            {{ text }}
        </div>
        <div class="text" *ngIf="html" [innerHtml]="html"></div>
    </div>
</ng-container>

<ng-container *ngIf="type === 'warning'">
    <div class="w-message warning">
        <div class="title">
            Warning
        </div>
        <div class="text" *ngIf="text">
            {{ text }}
        </div>
        <div class="text" *ngIf="html" [innerHtml]="html"></div>
    </div>
</ng-container>