<div class="w-message" [class]="type">
    <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
        <div fxLayout="column" fxFlex="initial">
            <mat-icon *ngIf="type === 'error'">report</mat-icon>
            <mat-icon *ngIf="type === 'info'">info</mat-icon>
            <mat-icon *ngIf="type === 'success'">check</mat-icon>
            <mat-icon *ngIf="type === 'warning'">warning</mat-icon>
        </div>
        <div fxLayout="column" fxFlex class="text">
            <ng-content></ng-content>
        </div>
    </div>
</div>