@mixin layout($theme) {

    
    /**
    Background is set on the <body> tag, but it also has to be here so that it overrides default color of sidenav
    */
    .w-layout-background,
    .mat-drawer-container {
        background-color: unset !important;
    }

.w-layout-subheader {
    background-color: darken(map-get($theme, backgroundColor), 5);
    font-size: 24px;
    font-weight: 300;
    padding: 24px 32px;
}

.w-layout-container-2 {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(240, 240, 240);
}

.w-layout-side-menu {
    width: 270px;
}

.w-layout-content {
    margin: 16px;
}

.w-layout-github-logo {
    height: 40px;
}

.w-layout-side-item {
    display: block;
    text-decoration: none;
    padding: 12px;
    color: rgb(95, 95, 95);
    font-size: 14px;
    cursor: pointer;
    &:hover {
        color: map-get($theme, primaryColor);
    }

    &.active {
        color: map-get($theme, primaryColor);
        background: rgb(240, 240, 240);
    }
 
}

.w-layout-side-section {
    display: block;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    padding: 12px;
    font-size: 12px;
    color :rgb(43, 43, 43);
    border-top: solid 1px rgb(201, 201, 201);
}

.w-layout-version {
    font-size: 12px;
}
}