<mat-progress-bar *ngIf="processsing" mode="indeterminate"></mat-progress-bar>

<div class="push-bottom-md" *ngIf="success">
    <lib-message [type]="'success'">Data successfully imported</lib-message>
</div>

<div class="push-bottom-md" *ngIf="mismatchVersionImport">
    <lib-message [type]="'warning'">
        <div>
            You are attempting to import package from version '{{ importDataVersion }}', but this web based tool is currently using version '{{ kbmVersion }}'.
        </div>
        <div class="push-top">
            You can still try importing data, but it may fail due to possible inconsistencies in package versions. You can also download specific version of <a [href]="backupManagerUrl" target="_blank">{{ backupManagerName }}</a> and run import using CLI. 
        </div> </lib-message>
</div>

<div>
    <lib-processed-items></lib-processed-items>
</div>


<div *ngIf="importPreviewData && !processsing && !success">

    <div *ngIf="displayInconsistenciesNotice" class="push-bottom-md">
        <lib-message [type]="'warning'">
            Project contains data inconsistencies. You may proceed with import, but it is possible that import will
            fail.
        </lib-message>
    </div>

    <div class="push-bottom-md">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="initial" fxFlex.lt-md="100%">
                <lib-button (click)="importWithConfirm()" [disabled]="formGroup.invalid || !file"
                    [matIcon]="'import_export'">Import data
                </lib-button>
            </div>
        </div>
        <div class="push-top-sm" libText3>
            * This will import data to target project. This action is not reversible.
        </div>
    </div>

    <lib-import-data-preview [previewData]="importPreviewData"></lib-import-data-preview>
</div>

<ng-container *ngIf="!processsing && !success && !importPreviewData">
    <p class="push-top-md push-bottom-md">
        This feature enables you to import data from uploaded .zip export package.
    </p>

    <form [formGroup]="formGroup">

        <div class="w-uploader push-top-md">
            <ngx-file-drop *ngIf="!file" [multiple]="false" [contentClassName]="'w-uploader-content'"
                [dropZoneClassName]="'w-uploader-dropzone'" (onFileDrop)="dropped($event)">

                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

                    <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="center center">
                        <div fxLayout="column" fxFlex="initial">
                            Drop export file here
                        </div>
                        <div fxLayout="column" fxFlex="initial">
                            <lib-button [matIcon]="'open_in_browser'" (click)="openFileSelector()">
                                Or choose a file
                            </lib-button>
                        </div>
                    </div>
                </ng-template>
            </ngx-file-drop>
            <div *ngIf="file" fxLayout="row" libCard fxLayoutAlign="start center">
                <div fxLayout="column" fxFlex libTitle2>
                    {{ file.name }}
                </div>
                <div fxLayout="column" fxFlex="initial">
                    <button (click)="clearFile()" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div libCard class="push-top-md">
            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <div libText3>Target project id</div>
                    <mat-form-field appearance="fill" class="push-top-sm">
                        <input matInput formControlName="projectId">
                    </mat-form-field>
                </div>
            </div>

            <div class="push-top">
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex>
                        <div libText3>Api key</div>

                        <mat-form-field appearance="fill" class="push-top-sm">
                            <input matInput formControlName="apiKey">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="push-top" fxLayout="row">
            <div fxLayout="column" fxFlex="initial" fxFlex.lt-md="100%">
                <lib-button (click)="handlePreview()" [disabled]="formGroup.invalid || !file"
                    [matIcon]="'import_export'">Prepare for import
                </lib-button>
            </div>
        </div>
        <div class="push-top-sm" libText3>
            * Data will not yet be imported. You will be able to confirm import after reviewing data.
        </div>
    </form>

</ng-container>