<h1>
    Import from export package
</h1>

<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<ng-container *ngIf="step === 'initial'" [formGroup]="formGroup">

    <div libTitle1 class="push-top">
        Target Project
    </div>

    <div libCard>
        <mat-form-field class="w-full-width">
            <input autocomplete="off" matInput placeholder="Project Id" formControlName="projectId" required>
        </mat-form-field>

        <mat-form-field class="push-top w-full-width">
            <input autocomplete="off" matInput placeholder="CM API Key" formControlName="cmApiKey" required>
        </mat-form-field>

        <div class="push-top">
            <file-drop dropZoneLabel="Drop export package here" (onFileDrop)="dropped($event)">
                <span></span>
            </file-drop>
            <div class="push-top">
                Or select file <input #selectFileElem (change)="handleManualInputOnChange($event)" type="file"
                    accept=".zip">
            </div>

            <div *ngIf="file" class="push-top" libTextCaption>
                <em>{{ file.name }} </em>
            </div>
        </div>
    </div>

    <div libTitle1 class="push-top">
        Configuration
    </div>

    <div libCard>
        <mat-checkbox formControlName="publishAllItems">Publish imported items</mat-checkbox>
        <div>

            <div class="push-top" *ngIf="!isLoading">
                <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="handlePreview()">Prepare
                    import
                    data</button>
                <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>Prepare import data</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step === 'preview'">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <div class="push-bottom" *ngIf="!isLoading">
        <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="handleImport()">Proceed with import</button>
        <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>Proceed with import</button>
    </div>

    <div libTitle1 class="push-top">
        Import data preview
    </div>

    <lib-import-data-preview [previewData]="importPreviewData"></lib-import-data-preview>

</ng-container>

<ng-container *ngIf="step === 'importing'">
    <div libTitle1>
        Processed items
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div libCard>
        <lib-processed-items *ngIf="isLoading || importCompleted"></lib-processed-items>
    </div>
</ng-container>

<ng-container *ngIf="step === 'completed'">
    <lib-message [type]="'success'" [text]="'Data was imported successfully'"></lib-message>

    <div libTitle1 class="push-top">
        Overview of imported items:
    </div>

    <div class="push-top">
        <lib-import-data-preview [previewData]="resultPreviewData"></lib-import-data-preview>
    </div>

</ng-container>