<h1>
    Migrate content items
</h1>

<p class="push-top">
    Use this to migrate data (content items & assets) from one project to another.
    Requirement for this to work is to have matching content types and taxonomies.
</p>

<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<ng-container *ngIf="step === 'initial'">
    <div libTitle1>
        Source Project
    </div>

    <div [formGroup]="formGroup">

        <mat-card>
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="sourceProjectId"
                        required>
                </mat-form-field>

                <mat-form-field class="push-top w-full-width">
                    <input autocomplete="off" matInput
                        placeholder="Languages - separated by semicolon such as 'en-US; es-ES'. Leave empty for default language."
                        formControlName="languages">
                </mat-form-field>

                <div class="push-top" *ngIf="languagesWarningMessage">
                    <lib-message [type]="'warning'" [html]="languagesWarningMessage"></lib-message>
                </div>
            </mat-card-content>
        </mat-card>

        <div libTitle1 class="push-top">
            Target Project
        </div>

        <mat-card>
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="targetProjectId"
                        required>
                </mat-form-field>

                <mat-form-field class="push-top w-full-width">
                    <input autocomplete="off" matInput placeholder="CM API Key" formControlName="targetProjectCmApiKey"
                        required>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div libTitle1 class="push-top">
            Configuration
        </div>

        <mat-card>
            <mat-card-content>
                <mat-checkbox formControlName="publishAllItems">Publish imported items</mat-checkbox>
            </mat-card-content>
        </mat-card>

        <div class="push-top" *ngIf="!isLoading">
            <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="handlePreview()">Prepare import
                data</button>
            <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>Prepare import data</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step === 'preview'">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <div class="push-bottom" *ngIf="!isLoading">
        <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="handleImport()">Proceed with import</button>
        <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>Proceed with import</button>
    </div>

    <lib-import-data-preview [showTypes]="'contentItemsImport'" [importData]="importData"></lib-import-data-preview>
 
</ng-container>

<ng-container *ngIf="step === 'importing'">
    <div libTitle1>
        Processed items
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card>
        <lib-processed-items *ngIf="isLoading || importCompleted"></lib-processed-items>
    </mat-card>
</ng-container>

<ng-container *ngIf="step === 'completed'">
    <lib-message [type]="'success'" [text]="'Data was imported successfully'"></lib-message>

    <div libTitle1 class="push-top">
        Overview of imported items:
    </div>

    <mat-card *ngIf="importResult" class="push-top push-bottom">
        <div>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <strong>{{ importResult.importedContentTypes.length }}</strong>&nbsp;content types imported
                </mat-list-item>
                <mat-list-item role="listitem">
                    <strong>{{ importResult.importedTaxonomies.length }}</strong>&nbsp;taxonomies imported
                </mat-list-item>
                <mat-list-item role="listitem">
                    <strong>{{ importResult.importedContentItems.length }}</strong>&nbsp;content items imported
                </mat-list-item>
                <mat-list-item role="listitem">
                    <strong>{{ importResult.importedLanguageVariants.length }}</strong>&nbsp;language variants
                    imported
                </mat-list-item>
                <mat-list-item role="listitem">
                    <strong>{{ importResult.importedAssets.length }}</strong>&nbsp;imported assets
                </mat-list-item>
                <mat-list-item role="listitem">
                    <strong>{{ importResult.publishedItems.length }}</strong>&nbsp;published content items
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card>
</ng-container>