<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<ng-container *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-card>
        loading ...
    </mat-card>
</ng-container>

<ng-container *ngIf="!isLoading">

    <h1>
        Export data
    </h1>

    <p class="push-top">
        This function enables you to create <em>json</em> export package of data from given project
    </p>

    <form [formGroup]="formGroup">
        <mat-card class="push-top">
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="projectId" required>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="push-top">
            <button *ngIf="canSubmit" (click)="handleExport()" mat-raised-button color="warn">Export data</button>
            <button disabled *ngIf="!canSubmit" (click)="handleExport()" mat-raised-button>Export data</button>
        </div>
    </form>


</ng-container>