@import '../../assets/styles/styles-core.scss';
.w-layout-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(240, 240, 240);
}

.w-layout-side-menu {
    width: 270px;
}

.w-layout-content {
    margin: 16px;
}

.w-layout-github-logo {
    height: 40px;
}

.w-layout-side-item {
    display: block;
    text-decoration: none;
    padding: 12px;
    color: rgb(95, 95, 95);
    font-size: 14px;
    cursor: pointer;
    &:hover {
        /* background-color: $accentColor; */
        color: $primaryColor;
    }

    &.active {
       /* background-color: rgb(238, 238, 238); */
        color: $primaryColor;
        background: rgb(240, 240, 240);
    }
 
}

.w-layout-side-section {
    display: block;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    padding: 12px;
    font-size: 12px;
    color :rgb(43, 43, 43);
    border-top: solid 1px rgb(201, 201, 201);
}

.w-layout-version {
    font-size: 12px;
}