<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" class="w-full-width">
        <div fxLayout="column" fxFlex="initial" class="w-cursor-pointer" (click)="sidenav.toggle()">
            <mat-icon>list</mat-icon>
        </div>
        <div fxLayout="column" fxFlex="initial" class="push-left">
            {{ appName }}
        </div>
        <div fxLayout="column" fxFlex></div>
        <a fxLayout="column" href="https://github.com/Enngage/kc-import-tool" target="_blank">
            <img class="w-layout-github-logo" alt="GitHub logo" src="https://image.flaticon.com/icons/svg/25/25231.svg">
        </a>
    </div>
</mat-toolbar>

<mat-sidenav-container class="w-layout-container">

    <mat-sidenav #sidenav opened [mode]="isSmallScreen ? 'over' : 'side'" [opened]="isSmallScreen ? 'false' : 'true'"
        class="w-layout-side-menu">
        <a fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of navigationItems"
            class="w-layout-side-item active" [class.active]="menuItemIsActive(item.routerLink)"
            [routerLink]="item.routerLink">
            <div fxLayout="column" class="push-right">
                <mat-icon>{{ item.icon }}</mat-icon>
            </div>
            <div fxLayout="column" fxFlex>
                {{ item.title}}
            </div>
        </a>
    </mat-sidenav>

    <div class="w-layout-content">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>