<ng-container *ngIf="!isLoading && !importCompleted">

    <div libTitle1>
        Source Project
    </div>

    <form [formGroup]="formGroup">

        <mat-card>
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="sourceProjectId"
                        required>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div libTitle1 class="push-top">
            Target Project
        </div>

        <mat-card>
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="targetProjectId"
                        required>
                </mat-form-field>

                <mat-form-field class="push-top w-full-width">
                    <input autocomplete="off" matInput placeholder="CM API Key" formControlName="targetProjectCmApiKey"
                        required>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="push-bottom push-top" *ngIf="error">
            {{ error }}
        </div>

        <div class="push-top" *ngIf="!isLoading">
            <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="handleImport()">Import</button>
            <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>Import</button>
        </div>
    </form>
</ng-container>

<div class="push-top" *ngIf="importTriggered">

    <div libTitle1 *ngIf="!importCompleted">
        Status
    </div>

    <div *ngIf="importCompleted">
        <div libTitle1>
            Import completed
        </div>

        <mat-card *ngIf="importResult" class="push-top push-bottom">
            <div>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedContentTypes.length }}</strong>&nbsp;content types imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedTaxonomies.length }}</strong>&nbsp;taxonomies imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedContentItems.length }}</strong>&nbsp;content items imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedLanguageVariants.length }}</strong>&nbsp;language variants imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.assets.length }}</strong>&nbsp;imported assets
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.publishedItems.length }}</strong>&nbsp;published content items
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card>
    </div>

    <div libTitle2>
        Processed items
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card>

        <cdk-virtual-scroll-viewport itemSize="50" class="w-import-viewport">
            <mat-list role="list">
                <mat-list-item role="listitem" *cdkVirtualFor="let processedItem of processedItems">
                    <p>
                        <strong>{{ processedItem.action }}</strong>: {{ processedItem.name }}
                    </p>
                </mat-list-item>
            </mat-list>

        </cdk-virtual-scroll-viewport>
    </mat-card>

</div>