<h1>
    Import from file
</h1>

<div class="push-bottom" *ngIf="error">
    <lib-message [type]="'error'" [text]="error"></lib-message>
</div>

<ng-container *ngIf="!isLoading && !importCompleted">

    <div libTitle1>
        Target project
    </div>

    <form [formGroup]="formGroup">

        <mat-card>
            <mat-card-content>
                <mat-form-field class="w-full-width">
                    <input autocomplete="off" matInput placeholder="Project Id" formControlName="projectId" required>
                </mat-form-field>

                <mat-form-field class="push-top w-full-width">
                    <input autocomplete="off" matInput placeholder="CM API Key" formControlName="cmApiKey" required>
                </mat-form-field>

                <div class="push-top">
                    <file-drop dropZoneLabel="Drop export package here" (onFileDrop)="dropped($event)">
                        <span></span>
                    </file-drop>
                    <div *ngIf="file" class="push-top" libTextCaption>
                        <em>{{ file.name }} </em>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="push-top">
            <button *ngIf="canSubmit" mat-raised-button color="accent" (click)="handleImport()">Import</button>
            <button *ngIf="!canSubmit" mat-raised-button color="warn" disabled>Import</button>
        </div>
    </form>
</ng-container>

<div class="push-top" *ngIf="importTriggered">

    <div *ngIf="importCompleted">

        <lib-message [type]="'success'" [text]="'Data was imported successfully'"></lib-message>

        <div libTitle1 class="push-top">
            Overview of imported items:
        </div>

        <mat-card *ngIf="importResult" class="push-top push-bottom">
            <div>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedContentTypes.length }}</strong>&nbsp;content types imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedTaxonomies.length }}</strong>&nbsp;taxonomies imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedContentItems.length }}</strong>&nbsp;content items imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.importedLanguageVariants.length }}</strong>&nbsp;language variants
                        imported
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.assets.length }}</strong>&nbsp;imported assets
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>{{ importResult.publishedItems.length }}</strong>&nbsp;published content items
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card>
    </div>

    <div libTitle1>
        Processed items
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card>
        <lib-processed-items *ngIf="isLoading || importCompleted"></lib-processed-items>
    </mat-card>

</div>