@mixin default-theme() {

  $primaryColor: #F05A22;
  $primaryColorGradient: darken($primaryColor, 10);
  $primaryColorContrast: white;
  $accentColor: rgba(0, 0, 0, 0.87);
  $accentColorGradient: lighten($accentColor, 20);
  $accentColorContrast: white;
  $disabledColor: #424242;
  $disabledColorContrast: #ffffff;
  $cardBackgroundColor: #ffffff;
  $disabledColorGradient: #292929;

  $backgroundColor: #f3f3f3;

  $textColor: #2b2b2b;
  $textColorContrast: darken(#ffffff, 10);
  $lightTextColor: #777777;

  $siteTheme: (
    primaryColor: $primaryColor,
    primaryColorContrast: $primaryColorContrast,
    primaryColorGradient: $primaryColorGradient,
    accentColor: darken($accentColor, 5),
    accentColorContrast: $accentColorContrast,
    accentColorGradient: $accentColorGradient,
    textColor: $textColor,
    textColorContrast: $textColorContrast,
    disabledColor: $disabledColor,
    disabledColorContrast: $disabledColorContrast,
    disabledColorGradient: $disabledColorGradient,
    lightTextColor: $lightTextColor,
    backgroundColor: $backgroundColor,
    cardDackgroundColor: $cardBackgroundColor,

    sideBackgroundColor: darken($backgroundColor, 12),
    sideTextColor: lighten($textColor, 5),

    headerBackgroundColor: $primaryColor,
    headerBackground: linear-gradient(90deg, $primaryColor 0%, lighten($primaryColor, 10) 100%),
    headerTextColor: $primaryColorContrast,
    );

  // below defines your custom color to build a theme palette from
  $primary: (50: lighten($primaryColor, 25),
      100: lighten($primaryColor, 20),
      200: lighten($primaryColor, 15),
      300: lighten($primaryColor, 10),
      400: lighten($primaryColor, 5),
      500: lighten($primaryColor, 0),
      600: lighten($primaryColor, 0),
      700: lighten($primaryColor, 0),
      800: lighten($primaryColor, 0),
      900: lighten($primaryColor, 0),
      A100: $primaryColor,
      A200: $primaryColor,
      A400: $primaryColor,
      A700: $primaryColor,
      contrast: (50: $primaryColorContrast,
        100: $primaryColorContrast,
        200: $primaryColorContrast,
        300: $primaryColorContrast,
        400: $primaryColorContrast,
        500: $primaryColorContrast,
        600: $primaryColorContrast,
        700: $primaryColorContrast,
        800: $primaryColorContrast,
        900: $primaryColorContrast,
        A100: $primaryColorContrast,
        A200: $primaryColorContrast,
        A400: $primaryColorContrast,
        A700: $primaryColorContrast,
      ));

  $accent: (50: lighten($accentColor, 25),
      100: lighten($accentColor, 20),
      200: lighten($accentColor, 15),
      300: lighten($accentColor, 10),
      400: lighten($accentColor, 5),
      500: lighten($accentColor, 0),
      600: lighten($accentColor, 0),
      700: lighten($accentColor, 0),
      800: lighten($accentColor, 0),
      900: lighten($accentColor, 0),
      A100: $accentColor,
      A200: $accentColor,
      A400: $accentColor,
      A700: $accentColor,
      contrast: (50: $accentColorContrast,
        100: $accentColorContrast,
        200: $accentColorContrast,
        300: $accentColorContrast,
        400: $accentColorContrast,
        500: $accentColorContrast,
        600: $accentColorContrast,
        700: $accentColorContrast,
        800: $accentColorContrast,
        900: $accentColorContrast,
        A100: $accentColorContrast,
        A200: $accentColorContrast,
        A400: $accentColorContrast,
        A700: $accentColorContrast,
      ));

  // Define the palettes for your theme using the Material Design palettes available in palette.scss
  // (imported above). For each palette, you can optionally specify a default, lighter, and darker
  // hue. Available color palettes: https://material.io/design/color/
  $app-primary: mat-palette($primary);
  $app-accent: mat-palette($accent, A200, A100, A400);

  // The warn palette is optional (defaults to red).
  $app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

  @include angular-material-theme($app-theme);
  @include site-theme($siteTheme);

}