@import './utilities/push';
@import './utilities/pad';
@import './directives/card';

@include pad-utilities();
@include push-utilities();
@include card();

$primaryColor: #008ae1;
$accentColor: #f05a22;
$primaryColorContrast: white;
$accentColorContrast: white;
